@charset "UTF-8";

h1, h2{
	text-align : center;
}
table{
	width:80%;
	margin:0 auto;
	text-align : center;
}

a{
	text-decoration: none;
}

footer div#copy{
	width:80%;
	margin:0 auto;
	text-align : center;
	margin-top : 20px;	
}

nav{
	width:50%;
	margin:0 auto;	
}
div.btn_group{
	width:80%;
	margin:0 auto;	
	text-align: center;
	margin-top: 10px;
}